#appartments
	background: #d6d6d6
	// min-height: calc(100% - 127px)
	padding: 60px 0

	.logo
		margin: auto

	.title
		font: normal 61px'mano_negra'
		margin-bottom: 41px
		text-align: center

		&::after
			color: #5a5a5a
			content: 'Imagens ilustrativas do Residencial GreenPark'
			display: block
			font: italic 14px 'open sans'
			margin: -20px 0 0 160px

	figure
		img
			cursor: pointer
			float: left

			&.margin
				margin: 0 18px

		figcaption
			display: block				
			float: left
			margin: 22px auto
			text-align: center
			width: 100%