#appartments
	background: #d6d6d6
	// min-height: calc(100% - 127px)
	padding: 60px 0

	.logo
		margin: auto

	.title
		font: normal 61px'mano_negra'
		text-align: center
		margin-bottom: 41px

		&::after
			color: #5a5a5a
			content: 'Imagens ilustrativas do Residencial GreenPark'
			display: block
			font: italic 14px 'open sans'
			margin: -20px 0 0 160px

	figure
		img
			cursor: pointer
			float: left
			display: block
			overflow: hidden
			transition: 0.3s
			width: 339px
			height: auto

			&:hover
				outline: solid 2px $theme-green

		.margin
			margin: 0 18px

		figcaption
			display: block				
			float: left
			margin: 22px auto
			text-align: center
			width: 100%
