#differentials
	background: #d9d9d9 url(../img/bg-differentials.png) center top no-repeat
	background-size: auto 100%
	font-size: 25px
	// min-height: calc(100% - 127px)
	padding: 108px 0 0
	padding: 60px 0 
	text-align: center

	.title
		font: normal 61px'mano_negra'

	.logo
		margin: 0 auto 27px

	.icons
		margin-top: 70px
		text-align: center

		figure
			display: inline-block
			margin: 0 31px 31px
			vertical-align: top
			width: 165px

			figcaption
				font-size: 20px
				left: 50%
				margin-top: 17px
				width: 120%
				text-align: center
				+transform(translateX(-50%))