#work-progress
	background: #b2b2b2
	padding: 60px 0
	// min-height: calc(100% - 127px)

	.img
		float: left
		margin: 107px 84px 0 55px
		margin: 0 84px 0 55px
		width: 487px
		height: 366px

	.text
		float: left
		margin: 123px 0 0 
		
		p
			font-family: 'open sans'
			margin-bottom: 28px

			&.title
				font-weight: 700


