#video
	background: #c9c9c9
	text-align: center
	padding: 161px 0 188px
	
	.title
		font: normal 61px'mano_negra'

	.video
		display: block
		margin: 42px auto 49px
		height: 510px
		min-height: 150px
		max-width: 853px
		width: 100%