section#appartments.container
	.wrap
		img(src='assets/img/leaf.png').logo
		p.title Faz bem viver bem.

		figure.thumbs
			img(data-number='1', src="assets/img/01.png", alt="")
			img(data-number='2', src="assets/img/02.png", alt="").margin
			img(data-number='3', src="assets/img/03.png", alt="")
			
			figcaption Morar perto do centro sem ter os transtornos diários do trânsito, poluição e barulho. Greenpark um bom lugar para morar ou investir.

			img(data-number='4', src="assets/img/04.png", alt="")
			img(data-number='5', src="assets/img/05.png", alt="").margin
			img(data-number='6', src="assets/img/06.png", alt="")