section#appartments
	.wrap
		img(src='assets/img/leaf.png').logo
		p.title Faz bem viver bem.

		figure.thumbs
			span
				img(data-number='1', src="assets/img/modal-banner-img-01-thumb.png", alt="")
			span
				img(data-number='2', src="assets/img/modal-banner-img-02-thumb.png", alt="").margin
			span
				img(data-number='3', src="assets/img/modal-banner-img-03-thumb.png", alt="")
			
			figcaption Morar perto do centro sem ter os transtornos diários do trânsito, poluição e barulho. Greenpark um bom lugar para morar ou investir.

			span
				img(data-number='4', src="assets/img/modal-banner-img-04-thumb.png", alt="")
			span
				img(data-number='5', src="assets/img/modal-banner-img-05-thumb.png", alt="").margin
			span
				img(data-number='6', src="assets/img/modal-banner-img-06-thumb.png", alt="")