section#blueprint
	.wrap
		.thumbs
			button(data-number='1').left.active PLANTA APTO 65M²
			button(data-number='2').right PLANTA APTO 74M²

		button.ctrl.left
		button.ctrl.right
		
		figure
			span Planta de 64m2	
			img(data-number='1', src='assets/img/blueprint-01.png' alt='Planta baixa do Apartamento de 65m² no Condominio Residencial Greenpark em Salto, interior de São Paulo').active
			span Planta de 64m2				
			img(data-number='2', src='assets/img/blueprint-02.png' alt='Planta baixa do Apartamento de 74m² no Condominio Residencial Greenpark em Salto, interior de São Paulo')
			figcaption Imagens ilustrativas do Residencial GreenPark
		
		img(src='assets/img/logo-teamprime.png')