#differentials.container

	img(src='assets/img/leaf.png').logo

	p.title Faz bem viver bem.
	p Nenhum outro empreendimento é tão completo com o Residencial GreenPark. 

	.icons
		.wrap
			figure
				img(src="assets/img/1.png", alt="")
				figcaption PISCINA ADULTO E INFANTIL
			figure
				img(src="assets/img/2.png", alt="")
				figcaption BICICLETÁRIO
			figure
				img(src="assets/img/3.png", alt="")
				figcaption PLAYGROUND E BRINQUEDOTECA
			figure
				img(src="assets/img/4.png", alt="")
				figcaption NATUREZA PRÓXIMA PRESERVADA