section#differentials

	img(src='assets/img/leaf.png').logo

	p.title Faz bem viver bem.
	p Nenhum outro empreendimento é tão completo como o Residencial GreenPark. 

	.icons
		.wrap
			button.ctrl.left
			button.ctrl.right

			figure.active
				span.img.icon-1
				figcaption PISCINA ADULTO E INFANTIL
			figure.active
				span.img.icon-2
				figcaption BICICLETÁRIO

			figure.active
				span.img.icon-3
				figcaption NATUREZA PRÓXIMA PRESERVADA
			figure.active
				span.img.icon-4
				figcaption PLAYGROUND E BRINQUEDOTECA

			figure
				span.img.icon-5
				figcaption ÁREA DE CONVENIÊNCIA
			figure
				span.img.icon-6
				figcaption CHURRASQUEIRA GOURMET
			figure
				span.img.icon-7
				figcaption SALÃO DE JOGOS
			figure
				span.img.icon-8
				figcaption SALÃO DE FESTAS