footer#work-progress
	.wrap
		img(src='assets/img/work-progress.png').img

		.text
			p.title Imagem da Obra.
				br 
				| Foto atualizada em: 
				span.date <?php require 'admin/update.txt';?>

			p A imagem ao lado é atualizada a cada
				span.br
				| 15 dias para que você acompanhe a obra em tempo real.
				span.br
				| Mais um diferencial Team Prime Empreendimentos.

			img(src='assets/img/logo-teamprime.png')