section#greenpark
	.wrap
		img(src='assets/img/leaf.png').logo
		
		h2 
			b GREENPARK 
			| é cercado por muito verde, ar puro e tranquilidade.

		figure
			img(src="assets/img/illustrative-01.png", alt="")
			img(src="assets/img/illustrative-02.png", alt="")
			figcaption Imagens ilustrativas do Residencial GreenPark

		
		.text
			p GreenPark é um residencial vertical completo, cercado por muito verde, ar puro e tranquilidade. Está localizado perto do centro e ao mesmo tempo longe do barulho e da poluição da cidade. São 88 apartamentos de 65 a 74m2, com  garagem coberta e varanda gourmet. Um execelente lugar para morar ou para investir. 
			p GreenPark é um empreendimento da TeamPrime Empreendimentos. Mais informações ou tabela de preços: FALE CONOSCO.
	
section#blueprint
	.wrap
		.thumbs
			button(data-number='1').left.active PLANTA APTO 65M²
			button(data-number='2').right PLANTA APTO 74M²

		button.ctrl.left
		button.ctrl.right
		
		figure
			img(data-number='1', src='assets/img/blueprint-01.png' alt='Planta baixa do Apartamento de 65m² no Condominio Residencial Greenpark em Salto, interior de São Paulo').active
			img(data-number='2', src='assets/img/blueprint-02.png' alt='Planta baixa do Apartamento de 74m² no Condominio Residencial Greenpark em Salto, interior de São Paulo')
			figcaption Imagens ilustrativas do Residencial GreenPark
		
		img(src='assets/img/logo-teamprime.png')