section#greenpark
	.wrap
		img(src='assets/img/leaf.png').logo
		
		h2 
			b GREENPARK 
			| é cercado por muito verde, ar puro e tranquilidade.

		figure
			img(src="assets/img/illustrative-01.png", alt="")
			img(src="assets/img/illustrative-02.png", alt="")
			figcaption Imagens ilustrativas do Residencial GreenPark

		
		.text
			p GreenPark é um residencial vertical completo, cercado por muito verde, ar puro e tranquilidade. Está localizado perto do centro e ao mesmo tempo longe do barulho e da poluição da cidade. São 88 apartamentos de 65 a 74m2, com  garagem coberta e varanda gourmet. Um execelente lugar para morar ou para investir. 
			p GreenPark é um empreendimento da TeamPrime Empreendimentos. Mais informações ou tabela de preços: FALE CONOSCO.