header
	.border
		span.span1
		span.span2
		span.span3
		span.span4
		span.span5
		span.span6
		span.span7
		span.span8
		span.span9


	.wrap

		img(src="assets/img/logo.png").logo

		button 
			span.stripe
			span.stripe
			span.stripe
				
		nav
			a(data-section="#differentials") DIFERENCIAIS

			span
			
			a(data-section="#greenpark") GREENPARK

			span
			
			a(data-section="#appartments") APARTAMENTOS

			span
			
			a(data-section="#video") VÍDEO

			span
			
			a(data-section="#location") LOCALIZAÇÃO

			span

			a(data-section="#contact") VENDAS

			span

			a(data-section="#work-progress") OBRAS

