include ./header.jade
include ./banner.jade
include ./differentials.jade
include ./greenpark.jade
include ./appartments.jade
include ./video.jade
include ./contact.jade
include ./footer.jade
include ./modal.jade

